body{
	width: 500px;
	margin: auto;
}
a{
	text-decoration: none;
	color: black;
}
.note__add{

	border: 1px solid #333;
}
.note__add h1{
	text-align: center;
}
.note__add button{
	margin-left: 160px;
	padding: 10px 50px;
	border: none;
	background-color: rgb(11, 146, 231);
	color: aliceblue;
	font-size: 20px;
}
.note__add input{
	display: block;
	text-align: center;
	margin: 20px;
	margin-left: 70px;
	padding: 10px 100px;
}

.note__detail{
	background-color: antiquewhite;
}


.note__list{
	background-color: rgb(159, 165, 126);
}
